{% include 'distributions.head' %}
{% for version in versions %}
Origin: Wazo
Codename: wazo-{{ version }}
#Update: - wazo-rc-bullseye
Architectures: amd64 source
Components: main
Description: Archive wazo-{{ version }}
SignWith: 527FBC6A
{% endfor %}
